<!DOCTYPE html>
<html>
  <head>
    <title>TestUpload</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <div class="app-body">
      <div class="container">
        <main class="main">
        <div class="container-fluid">

        <div class="row">
          <%= yield %>  
        </div>
      </div>
       </main>
      </div> 
    </div>
 </body>
</html>
